body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.main-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 60%;
    height: fit-content;
    min-height: 75vh;
    padding: 3rem;
    border-radius: 1.5rem;
    background-color: #e8d9a0;
    box-shadow: 0 0 .5rem .2rem #CF0A0A;
    color: #583d28;
    font-size: 1.7rem;
}

.list-char-card {
    border-radius: 1.5rem;
    background-color: #583d28;
    width: 80%;
    min-width: fit-content;
    max-width: 100%;
    height: 17rem;
    min-height: fit-content;
    padding: 1rem;
    color: #e8d9a0;
}

.list-char-card-ctn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list-char-name {
    width: 15rem;
    min-width: fit-content;
    text-align: center;
}

.btns-list-char-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 100%;
}

.update-char-btn, .remove-char-btn {
    text-decoration: none;
    text-underline: none;
    text-align: center;
    border-radius: 20px;
    width: 50%;
    height: 4vh;
    line-height: 4vh;
    background-color: #e8d9a0;
    color: #583d28;
    border: none;
    font-size: 1.7rem;
    transition: all 2s ease;
}

.remove-char-btn {
    background-color: #CF0A0A;
}

.update-char-btn:hover {
    background-color: #DC5F00;
    cursor: pointer;
}

.remove-char-btn:hover {
    background-color: #191919;
    color: #CF0A0A;
    cursor: pointer;
}
