{{define "staticPath"}}{{.Base.StaticPath}}{{end}}
{{define "css"}}<link rel="stylesheet" href="{{.Base.StaticPath}}css/content.css">{{end}}
{{define "title"}}<title>{{.Base.Title}}</title>{{end}}

{{define "header-btn"}}
{{/*        <a href="/home"><button>Dashboard</button></a>*/}}
{{end}}

{{define "body"}}
{{end}}
